# Default ignored files
/../../../:OOP/.idea/shelf/
/../../../:OOP/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:OOP/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:OOP/.idea/dataSources/
/../../../:OOP/.idea/dataSources.local.xml
